@using PMO_Monitoring.viewmodel
@model VMMstRole
@{
    Layout = null;
}
<form class="mt-4" id="edit">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3 row">
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
                </div>

            </div>
            <div class="mb-3 row">
                <label for="Name" class="col-sm-4 col-from-label">Nama</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Nama" name="Name" value="@Model.Name"></input>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="float-right">
            <a asp-action="Index" class="btn btn-light">Batal</a>
            <button type="submit" class="btn btn-primary" id="ubah">Simpan</button>
        </div>
</form>

<script>

    $(document).ready(function () {
        var isvalid = true
        $("#edit").validate({
            errorClass: "text-danger",
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                }
            },
            messages: {
                Name: {
                    required: "Please fill the Name",
                    minlength: "Name must consist at least 2 character"
                }
            },
            submitHandler: function (form) {
                debugger
                var data = $("#edit").serialize()
                if (isvalid) {
                    $.ajax({
                        url: "/MstRole/Edit",
                        data: data,
                        type: 'post',
                        dataType: "json",
                        success: function (respon) {
                            debugger
                            if (respon) {
                                alert(respon.message)
                                window.location.reload()
                            }
                        }
                    })
                }
                else {
                    alert("Data tidak Berhasil Disimpan")
                }
            }
        })
    })
</script>